h2 {
    margin-bottom: 20px;
    color: #111827;
    text-align: center;
}

.form-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    margin-bottom: 30px;
    margin: 0 auto;
}

.form-box input,
.form-box select,
.form-box button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
}

.form-box button {
    background: #2563eb;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.form-box button:hover {
    background: #1e40af;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

table th {
    background: #f3f4f6;
}

table a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: 600;
}

.btn-edit {
    color: #2563eb;
}

.btn-del {
    color: #dc2626;
}
